@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;500;800&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Recursive', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: #2a2b36;
}
.page{
    width: 100%;
    height: 100vh;
}
a#button {
    padding: 0.5em 1em;
    background-color: #aa14f0;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
}


/*---- Scroll Bar ----*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #383838; 
} 
::-webkit-scrollbar-thumb {
    background: #aa14f0af; 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #aa14f0; 
}

/*----Barra de Navegación----*/
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: #333;
    
}
nav #enlaces{
    margin-right: 4em;
}
nav #enlaces a{
    color: #aa14f0;
    font-weight: 800;
    text-decoration: none;
    margin: 0 2em;
}
/*----Página de Inicio----*/
#inicio{
    display: flex;
    align-items: center;
    height: 95vh;
}
#inicio img{
    width: 40%;
    padding-left: 5%;
}
#inicio #presentacion{
    width: 50%;
    padding-left: 15%;
    height: 40vh;
}
#inicio #presentacion * {
    margin: 1em 0;
}
#inicio #presentacion h1{
    color: #aa14f0;

}
#inicio #presentacion p{
    font-weight: 500;
    width: 60%;
    color: white;
    margin-bottom: 3em;
}

/*----Página About Me----*/
.about-page{
    margin-left: 5%;
    width: 90%;
    height: 33vh;
    display: flex;
    align-items: center;
}
.about-page .img-container{
    background-color: #aa14f0;
    width: 30vh;
    height: 12vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-page .img-container img{
    width: 15vh;
    border-radius: 10px;
    margin-right: 30%;
}
.about-page .about-info{
    padding:0 3em ;
}
.about-page .about-info h2 {
    padding-bottom: 0.7em ;
    color: #aa14f0;
}
.about-page .about-info p {
    padding-bottom: 0.7em ;
    color: white;
}
.about-page .about-info a{
    padding: 0.5em;
    margin-left: 36%;
}
/*--Modificacion pares--*/
.about-page:nth-child(2n){
    justify-content: flex-end;
}
.about-page:nth-child(2n) .about-info{
    order: -1;
    text-align: right;
}
.about-page:nth-child(2n) .img-container img{
    margin-right: 0;
    margin-left: 30%;
}

/*----Página Proyectos----*/

#proyectos{
    height: auto;
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
#proyectos > h1 {
    color: #aa14f0;
    margin: 10vh 0;
}
#proyectos-grid{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: auto;
    column-gap: calc(25% / 2);
    row-gap: 10vh;
}
.proyecto{
    height: 120%;
    color: white;
    background-color: #aa14f0;
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;

}
.proyecto h3{
    padding: 1em 0 2em 0;
}
.proyecto img{
    width: 90%;
    height: 50%;
    border-radius: 10px;
}
.hoverimg{
    position: absolute;
    top: 8.5vh;
    width: 90%;
    height: 50%;
    border-radius: 10px;
    background-color: #00000083;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

}
.proyecto:hover .hoverimg{
    opacity: 1;
}

 

/*----Footer----*/
footer{
    width: 100%;
    height: 30vh;
    margin-top: 20vh;
    padding-top: 5vh;
    display: flex;
    justify-content: space-evenly;
    background-color: #aa14f0;
    border-radius: 10px 10px 0 0;
}
footer h1{
    margin-top: 5vh;
    color: white;
}
#footer-contact a{
    text-decoration: none;
    color: white;
    display: flex;
    margin: 3em;
    align-items: center;
}
#footer-contact a ion-icon{
    font-size: 2em;
}
#footer-contact a p{
    margin-left: 0.5em;
}



/*-------RESPONSIVE------*/
@media screen and (max-width: 800px) {
    /*---Barra de navegación---*/
    nav{
        justify-content: center;
    }
    nav #enlaces{
        margin: 0;
    }
    /*---Página de inicio---*/
    #inicio{
        flex-flow: column;
        text-align: center;
    }
    #inicio img{
        margin-top: 10vh;
        width: 70%;
        padding: 0;
    }
    #inicio #presentacion{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }
    #inicio #presentacion p{
        margin: 0;
        text-align: center;
        width: 100%;
        margin-bottom: 10vh;
    }
    /*---Página About Me---*/

    .about-page .img-container {
        width: 30%;
    }
    .about-page .img-container img{
        width: 90%;
        margin: 0;
    }
    .about-page .about-info{
        width: 70%;
        padding: 0.3em;
    }
    .about-page .about-info h2{
        font-size: large;
    }
    .about-page .about-info p{
        font-size: small;
    }


    .about-page:nth-child(2n) .img-container img{
        margin: 0;
    }


    /*---Página Proyectos---*/
    #proyectos{
        width: 90%;
        margin-left: 5%;
    }
    #proyectos-grid {
        grid-template-columns: 30% 30% 30%;
        column-gap: calc(10% / 2);
    }
    .proyecto h3{
        text-align: center;
        font-size: 100%;
    }
    .proyecto img{
        margin-bottom: 1em;
    }




    /*---Footer---*/
    footer{
        height: 22vh;
    }
    footer h1{
        margin: 1em 0em 1em 1em;
    }
    footer #footer-contact a{
        margin: 1em;
    }

  } 